<header class="main-header">
  <div class="container header-container">
    <div class="logo">
      <span class="logo-text">Cuida<span>Stur</span></span>
    </div>

    <nav class="nav-links">
      <a href="#about">Sobre nosotros</a>
      <a href="#services">Servicios</a>
      <a href="#simulator">Simulador</a>
      <a href="#contact">Contacto</a>
    </nav>

    <div class="header-contact">
      <a href="tel:722844555" class="header-btn btn-icon-only text-primary">
        <i class="bi bi-telephone-fill"></i> <span class="btn-text">Llamar</span>
      </a>
      <a href="https://wa.me/34633155386" target="_blank" class="header-btn btn-icon-only text-whatsapp">
        <i class="bi bi-whatsapp"></i> <span class="btn-text">WhatsApp</span>
      </a>
    </div>
  </div>
</header>
